<div class="page-connection">
    <div class="form-connection">
        <h1>Connectez-vous</h1>
        <form>
            <input placeholder="Adresse email" type="email" id="email" name="email" required>
            <input placeholder="Mot de passe" type="password" id="password" name="password" required>
            <input type="submit" value="Connexion">
        </form>
    </div>
    <img src="../../../assets/images/AdoptARENNES-removebg-preview 2.png" alt="Logo Adopte A Rennes qui renvoie vers la page d'accueil"/>
</div>
    
