<div class="page-connection">
  <div class="form-connection">
    <h1>Connectez-vous</h1>
    <div [formGroup]="form">
      <input
      placeholder="Adresse email"
      type="email"
      id="email"
      name="email"
      formControlName="mail"
      required
    />
    <input
      placeholder="Mot de passe"
      type="password"
      id="password"
      name="password"
      formControlName="password"
      required
    />
      <button type="submit" (click)="validateUser()">Connexion</button>
    </div>
  </div>
  <img
    src="../../../../assets/images/logo-big.png"
    alt="Logo Adopte A Rennes qui renvoie vers la page d'accueil"
  />
</div>
