.associations-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  max-height: 80vh; /* Set a fixed height for the container */
  overflow-y: scroll; /* Enable vertical scrolling */
}

.associations {
  justify-content: flex-end; /* Align cards to the right */
}

.card {
  background-color: white;
  border-radius: 10px;
  padding: 1em;
  margin: 1em;
  max-width: 60%; /* Expand card to full width of article container */
}
