.associations-wrapper {
  display: flex;
}

.search-bar {
  flex: 0 0 auto;
  margin-right: 1em;
}

.associations {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.card {
  background-color: white;
  border-radius: 10px;
  padding: 1em;
  margin: 1em;
  max-width: 100%; /* Expand card to full width of article container */
}


input {
  width: 20em;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #ffffff00;
  color: white;
  border: white 1px solid;
  border-radius: 40px;
}

input::placeholder {
  color: white;
}

input:focus {
  outline: none;
}