<div class="navbar-wrapper">
  <div class="navbar-container">
    <div class="logo-container">
      <a routerLink=""
        ><img
          class="logo"
          src="../../../assets/images/AdoptARENNES-removebg-preview 2.png"
          alt="Logo"
      /></a>
    </div>
    <div class="menu-items">
      <div class="main-items">
        <div class="menu-item">
          <a routerLink="/dashboard/articles" routerLinkActive="active"
            >Articles</a
          >
        </div>
        <div class="menu-item">
          <a routerLink="/dashboard/associations" routerLinkActive="active"
            >Associations</a
          >
        </div>
      </div>

      <ng-container *ngIf="isUserConnected; else loggedOutTemplate">
        <div class="menu-item profile">
          <div class="profile-icon">
            <img
              src="../../../assets/images/icon-profile.svg"
              alt="Profile icon"
            />
          </div>
          <div class="user-item">
            <p>{{ "thomas" | titlecase }} {{ "fagot" | uppercase }}</p>
          </div>
        </div>
        <div class="separation-bar"></div>
        <div class="menu-item logout">
          <a href="">Déconnexion</a>
        </div>
      </ng-container>

      <ng-template #loggedOutTemplate>
        <div class="menu-item auth">
          <a routerLink="/auth/login" routerLinkActive="active">Connexion</a>
        </div>
        <div class="menu-item">
          <a routerLink="/auth/register" routerLinkActive="active"
            >Inscription</a
          >
        </div>
      </ng-template>
    </div>
  </div>
</div>
