
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$adopte_a_rennes-primary: mat.define-palette(mat.$indigo-palette);
$adopte_a_rennes-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$adopte_a_rennes-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$adopte_a_rennes-theme: mat.define-light-theme((
  color: (
    primary: $adopte_a_rennes-primary,
    accent: $adopte_a_rennes-accent,
    warn: $adopte_a_rennes-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($adopte_a_rennes-theme);

/* You can add global styles to this file, and also import other style files */
body {
  font-family: "Comfortaa", sans-serif;
  color: #222222;
  background: linear-gradient(to bottom, #ECAD7C, #F69B65);
  background-attachment: fixed;
  margin-left: 100px;
  margin-right: 100px;
}

.title {
  font-size: 100px;
  font-weight: 700;
}

h1 {
  font-size: 36px;
  font-weight: 700;
}

h2 {
  font-size: 30px;
  font-weight: 600;
}

h3 {
  font-size: 24px;
  font-weight: 600;
}

h4 {
  font-size: 20px;
  font-weight: 600;
}

h5 {
  font-size: 18px;
  font-weight: 600;
}

h6 {
  font-size: 16px;
  font-weight: 600;
}

p {
  font-size: 16px;
  font-weight: 400;
}

a {
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  color: var(--featuring-text-color);

  &:hover {
    cursor: pointer;
    ;
  }
}

i {
  font-size: 16px;
  font-weight: 400;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
