.page-register {
  margin: 4em auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form-register,
form {
  display: flex;
  flex-direction: column;
}

.form-register input {
  width: 560px;
  padding: 1em;
  margin-bottom: 1em;
  background-color: #ffffff00;
  color: white;
  border: white 1px solid;
  border-radius: 40px;
}

.form-register p,
.form-register #checkbox,
.form-register ul {
  color: black;
  width: 560px;
  padding: 1em;
  margin-bottom: 1em;
}

.form-register ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form-register input::placeholder {
  color: white;
}

.form-register input:focus {
  outline: none;
}

#checkbox {
  display: flex;
  flex-direction: row;
}

#checkbox input {
  width: 40px;
}

img {
  width: 25%;
  height: 25%;
}

button {
  padding: 1em;
  border: solid 1px black;
  background: transparent;
  transition: all ease-in-out 0.3s;

  &:hover {
    background: black;
    color: white;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
  }
}
