<div class="form-inscription">
    <h2>Inscription</h2>
    <form>
        <label for="nom">Nom:</label>
        <input type="text" id="nom" name="nom" required><br><br>

        <label for="prenom">Prénom:</label>
        <input type="text" id="prenom" name="prenom" required><br><br>

        <label for="email">Adresse e-mail:</label>
        <input type="email" id="email" name="email" required><br><br>

        <label for="password">Mot de passe:</label>
        <input type="password" id="password" name="password" required><br>
        <ul>
            <li>> 8 caractères</li>
            <li>> 1 caractère spécial</li>
            <li>> 1 lettre majuscule</li>
        </ul>

        <p>Adopte A Rennes collecte vos données pour la création et gestion de votre compte. En savoir plus sur la protection de vos données.</p>

        <input type="checkbox" id="terms" name="terms" required>
        <label for="terms">En cochant cette case j'atteste être en accord avec la collection de mes données et les termes d'utilisation de l'association Adopte A Rennes.</label><br><br>

        <input type="submit" value="Inscription">
    </form>
</div>
<img src="" alt="">