.page-register {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.side-by-side {
  display: flex;
  width: 100%;
}

.left-side {
  flex: 0 0 50%;
  padding-right: 20px;
}

.right-side {
  flex: 0 0 50%;
  padding-left: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.form-register,
form {
  display: flex;
  flex-direction: column;
}

form {
  align-items: center;
}

.form-register input {
  background-color: #ffffff00;
  border: white 1px solid;
  border-radius: 40px;
  color: white;
  width: 100%;
  padding: 1em;
  margin-bottom: 1em;
}

.form-register p,
.form-register #checkbox,
.form-register ul {
  color: black;
  width: 100%;
  padding: 1em;
  margin-bottom: 1em;
}

.form-register ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form-register input::placeholder {
  color: white;
}

.form-register input:focus {
  outline: none;
}

#checkbox {
  display: flex;
  flex-direction: row;
}

#checkbox input {
  width: 40px;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  padding: 1em;
  border: solid 1px black;
  background: transparent;
  transition: all ease-in-out 0.3s;

  &:hover {
    background: black;
    color: white;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
  }
}
