<div class="page-register">
    <div class="form-register">
        <h1>Inscription</h1>
        <form>
            <input class="info-perso" placeholder="Nom" type="text" id="nom" name="nom" required>
            <input class="info-perso" placeholder="Prénom" type="text" id="prenom" name="prenom" required>
            <input class="info-perso" placeholder="Adresse email" type="email" id="email" name="email" required>
            <input class="info-perso" placeholder="Mot de passe" type="password" id="password" name="password" required>
            <ul>
                <li>> 8 caractères</li>
                <li>> 1 caractère spécial</li>
                <li>> 1 lettre majuscule</li>
            </ul>
            <p>AdopteARennes collecte vos données pour la création et gestion de votre compte. En savoir plus sur la protection de vos données.</p>
            <div id="checkbox">
                <input type="checkbox" id="terms" name="terms" required>
                <label for="terms">En cochant cette case j'atteste être en accord avec la collection de mes données et les termes d'utilisation de l'association Adopte A Rennes.</label>
            </div>
            <input type="submit" value="Inscription">
        </form>
    </div>
    <img src="../../../assets/images/AdoptARENNES-removebg-preview 2.png" alt="Logo Adopte A Rennes qui renvoie vers la page d'accueil"/>
</div>