<div class="article-wrapper">
  <div class="search-bar">
    <input
      type="text"
      placeholder="Rechercher un article"
      [(ngModel)]="searchTerm"
      (input)="filterArticles()"
    />
  </div>
  <div class="articles">
    <div class="article" *ngFor="let article of articles">
      <div class="card">
        <h1>{{ article.title }}</h1>
        <hr />
        {{
          article.description!.length > 250
            ? (article.description! | slice : 0 : 250) + "..."
            : article.description!
        }}
        <button
          *ngIf="article.description!.length > 250"
          (click)="showFullContent(article)"
        >
          voir plus
        </button>
        <br />
        <br />
        <em> - {{ article.firstname }} {{ article.lastname }}</em>
      </div>
    </div>
  </div>
</div>
